body {
    top: .5rem;
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, th, button {
    font-family: 'Karla', '', sans-serif;
    font-weight: 600;
}

th {
    text-transform: uppercase;
}

.brand {
    background-color: #6747c7 !important;
}

.table .brand th {
    background-color: #6747c7 !important;
}

#cell-data {
    font-weight: 700;
    font-family: 'Karla', '', sans-serif;
    color: #6747c7;
}

.branded-row td {
    background-color: #6747c7;
    color: white;
}

.page-item a {
    color: #6747c7 !important;
}

.column-head {
    cursor: pointer;
}

.sidebar {
    z-index: 1;
    left: 10px;
    position: fixed;
    overflow-x: hidden;
    padding: 8px 0;
}

.main {
    margin-left: 25%;
}

/* Smaller screens and down */
@media (max-width: 540px) {
    body {
        top: 0;
    }

    .sidebar {
        position: relative;
        left: 0;
        top: 0;
    }

    .main {
        margin-top: 10%;
        margin-left: 0;
    }
}
